.form-group{
    margin-bottom:10px;
    label{
        font-size:20px;
    }
}
h4{
    margin-top:10px;
}
.variation-btn{
    background:rgb(167, 167, 229);
    color:white;
    padding:10px;
    font-size: 20px;;
}
.remove-btn{
    color:white;
    padding:10px;
    background:red;
}